/* CSS declarations go here */

#notUser {
    text-decoration: underline;
    display: block;
    text-align: center;
    width: fit-content;
    margin: 7% auto;
}

#loginButton { 
    padding: 1.5% 4%;
    display: block;
    margin: 4% auto;
}

.loginForm {
    display: block;
}

.inputLabel {
    color: black;
    font-size: 2vmin;
}

.usernameInput {
    margin: 5% auto;
    width: fit-content;
}

.passwordInput {
    margin: 5% auto;
    width: fit-content;
}